@font-face {
  font-family: "Droid Sans";
  src: local('Droid Sans'), local('droid-sans'),
       url("fonts/droid-sans.woff2") format("woff2"),
       url("fonts/droid-sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Droid Sans";
  src: local('Droid Sans Bold'), local('droid-sans-bold'),
       url("fonts/droid-sans-bold.woff2") format("woff2"),
       url("fonts/droid-sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
