.close-button {
  position: absolute;
  display: block;
  top: 20px;
  left: 2px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;

  background-color: transparent;
  background-image: url("cross.svg");
  background-repeat: no-repeat;
  background-size: contain;

  content: "";

  &--modal {
    z-index: 90;
    top: 23px;
    right: 23px;
    left: auto;
  }
}
